<h1>Editing Book</h1>
<%= form_tag("/books/#{@book.id}/update") do %>
<p>Title</p>
<input value=<%= @book.Title %>></input>
<p>Body</p>
<textarea value=><%= @book.Body  %></textarea>
<br>
<input type="submit" value="Update Book">
<% end %>
<br><br>
<%= link_to("Show","/books/#{@book.id}") %>
<a>|</a>
<%= link_to("Back","/books/") %>
