<h1>Editing Book</h1>
<%= form_for(@book) do |f| %>
<div class="contena">
  <label>Title</label><br>
  <%= f.text_field :Title %><br>
</div>
  <label>Body</label><br>
  <%= f.text_area :Body %><br>
  <input class="btn" type="submit" value="Update Book">
<% end %>
<%= link_to("Show","/books/#{@book.id}") %>
<a>|</a>
<%= link_to("Back","/books/") %>
